<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Unemployed Users</title>
    <link href="../public/styles.css" rel="stylesheet">
  </head>
  <body>
    <header><h1>These are looking for Employment</h1></header>
    <ul class="wrapper">
      {{#users}}
      <a href='/users/{{id}}'>
      <li>{{name}}<img src="{{avatar}}" />
      </li>
    </a>
      {{/users}}
    </ul>
    <a href="/">Home Link</a>
  </body>
</html>
